.glassEffect {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.spriteRightFaced {
  animation-name: moveRight;
}

@keyframes moveRight {
  0% {
    left: -20%;
    transform: scaleX(-1);
  }
  50% {
    left: 120%;
    transform: scaleX(-1);
  }
  60% {
    left: 120%;
    transform: scaleX(1);
  }
  75% {
    left: 60%;
    transform: scaleX(1);
  }
  100% {
    left: -20%;
    transform: scaleX(1);
  }

}

.spriteLeftFaced {
  animation: moveLeft 10s linear infinite;
}

@keyframes moveLeft {
  0% {
    right: -20%;
    transform: scaleX(1);
  }
  50% {
    right: 120%;
    transform: scaleX(1);
  }
  60% {
    right: 120%;
    transform: scaleX(-1);
  }
  75% {
    right: 60%;
    transform: scaleX(-1);
  }
  100% {
    right: -20%;
    transform: scaleX(-1);
  }

}

.fadeFirst {
  animation: fadeFirst 5s linear infinite;
}

@keyframes fadeFirst {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}